.Selection {
  position: absolute;
  border: 1px dashed #333;
  background: rgba(190,190,190, 1);
  mix-blend-mode: multiply;
}

.Selection--area {
  border-style: solid;
}

/* Internet Explorer support method */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .Selection {opacity: 0.5 }
}

/* Microsoft Edge Browser 12+ (All) - @supports method */
@supports (-ms-ime-align:auto) {
  .Selection {opacity: 0.5 }
}
